{% extends "base.html" %}
{% set ruta = "reportes" %}
{% block body %}

<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <h3>Gastos Rutas</h3>
        <br>
        {% if user.role == "admin" %}
            <div class="row">
                <div class="col-md-8">
                    <form>
                        <div class="form-group col-sm-3">
                            <select class="form-control" name="urlkey_ruta">
                                    <option value="">Todas las rutas</option>
                                {% for r in rutas %}
                                    <option value="{{r.key.urlsafe()}}" {% if ruta.key==r.key %} selected {% endif %} >{{r.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="fecha_down_string" name="fecha_down_str" placeholder="Desde" autocomplete="off" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="fecha_up_string" name="fecha_up_str" placeholder="Hasta" autocomplete="off" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-primary col-sm-3" type="submit">Seleccionar</button>
                    </form>
                </div>
            </div>
        
            <br>
            {% for movimientos in movimientos_rutas %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{% if movimientos[0] %} {{movimientos[0].ruta.get().nombre}} {% endif %}</h3>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Observación</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in movimientos %}
                                        <tr>
                                            <td id="fechac{{m.key.id()}}"></td>
                                            <td>{{m.tipo|str_io_cajas}}</td>
                                            <td>{{m.observacion}}</td>
                                            <td>{{m.valor|currency}}</td>
                                            <script type="text/javascript">
                                               var time = moment("{{m.creado.isoformat(' ')}}Z");
                                               $('#fechac{{m.key.id()}}').text(time.format("dddd D MMM h:mm A"));
                                            </script>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if user.role == "supervisor" %}
            <div class="row">
                <div class="col-md-8">
                    <form>
                        <div class="form-group col-sm-3">
                            <select class="form-control" name="urlkey_ruta">
                                <option value="">Todas las rutas</option>
                                {% for r in rutaSupervisor %}
                                    <option value="{{r.ruta.get().key.urlsafe()}}" {% if ruta.key==r.key %} selected {% endif %} >{{r.ruta.get().nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="fecha_down_string" name="fecha_down_str" placeholder="Desde" autocomplete="off" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="fecha_up_string" name="fecha_up_str" placeholder="Hasta" autocomplete="off" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-primary col-sm-3" type="submit">Seleccionar</button>
                    </form>
                </div>
            </div>
        
            <br>
            {% for movimientos in movimientos_rutas_supervisor %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{% if movimientos[0] %} {{movimientos[0].ruta.get().nombre}} {% endif %}</h3>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-striped table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Tipo</th>
                                        <th>Observación</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for m in movimientos %}
                                        <tr>
                                            <td id="fechac{{m.key.id()}}"></td>
                                            <td>{{m.tipo|str_io_cajas}}</td>
                                            <td>{{m.observacion}}</td>
                                            <td>{{m.valor|currency}}</td>
                                            <script type="text/javascript">
                                               var time = moment("{{m.creado.isoformat(' ')}}Z");
                                               $('#fechac{{m.key.id()}}').text(time.format("dddd D MMM h:mm A"));
                                            </script>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- /.container-fluid -->
</div>
<script type="text/javascript">
    $('select').change(function() {
        if ($(this).children('option:first-child').is(':selected')) {
            $(this).addClass('placeholder');
        } else {
            $(this).removeClass('placeholder');
        }
    });
    $( "#fecha_up_string" ).datepicker();
    $( "#fecha_down_string" ).datepicker();
</script>
<!-- /#page-wrapper -->
{% endblock %}